<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kinecosystem.appsdiscovery">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="@string/app_name"
        >
        <activity android:name=".sender.discovery.view.AppsDiscoveryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".sender.discovery.view.AppInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".sender.discovery.view.AmountChooserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <provider
            android:name=".receiver.manager.KinTransferAccountInfoFileProvider"
            android:authorities="${applicationId}.KinTransferAccountInfoFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/kin_transfer_file_provider_paths" />
        </provider>
    </application>

</manifest>
